@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.App {
  width: 100vw;
  height: 100vh;
  /* background: url(../assets/images/mountains-bg.jpg); */
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
  position: relative;
  /* overflow-x: hidden; */
}

.navBar {
  width: 100%;
  color: var(--aquamarine);
  align-items: center;
  font-size: 1.2rem;
  background: linear-gradient(
    rgba(125, 125, 121, 0),
    rgba(147, 177, 174, 0.1),
    rgba(148, 171, 189, 0.548)
  );
  top: 0;
  padding: 0 20%;
  display: flex;
  justify-content: space-between;
  height: 5rem;
  /* border-bottom: 1px solid rgba(113, 255, 208, 1); */
}
.navBar__link {
  color: var(--aquamarine);
  padding: 0.5rem 0;
  line-height: 1.5ch;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  transition: 0.5s;
}
.navBar__link:hover {
  border-bottom: 1px solid var(--aquamarine);
  border-top: 1px solid var(--aquamarine);
  text-shadow: 1px 1px 5px var(--aquamarine);
  padding: 1rem 0;
  transition: 0.5s;
}
.navBar__RickAndMorty {
  background: url(../assets/images/trippy.jpg);
  background-size: cover;
  /* border-bottom: 1px solid var(--aquamarine); */
  /* box-shadow: 0 0 150px 5px rgba(12, 255, 174, 0.3); */
  position: fixed;
  z-index: 2;
}

.bg-img {
  background: linear-gradient(var(--dark-purple), var(--royal-purple));
  mix-blend-mode: overlay;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  opacity: 0.4;
  z-index: -5;
}

header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  text-shadow: 3px 3px 2px var(--dark-purple);
}

header h1 {
  font-size: 3rem;
}

header h2 {
  font-size: 2.5rem;
}

.btn-container {
  display: flex;
  align-items: center;
  margin-top: 10%;
  height: auto;
  justify-content: center;
  gap: 5rem;
  /* border: 2px solid black; */
}

.main-btn {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1.5rem;
  border: 2px solid var(--medium-spring-green);
  color: var(--medium-spring-green);
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1rem;
  text-shadow: 1px 1px 1px var(--blue-sapphire);
  letter-spacing: 0.45rem;
  transition: 1s;
  transition: box-shadow 0.3s;
}

a {
  text-decoration: none;
}

.main-btn:hover {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(12, 255, 154, 0.3));
  box-shadow: 0 0 0 2000px rgba(0, 0, 0, 0.5);
  transition: 2s;
  transition: box-shadow 0.5s;
}

.upper-gradient {
  color: rgb(212, 255, 235);
  opacity: 0.7;
  width: 100vw;
  height: 7rem;
  top: 0;
  position: fixed;
  z-index: 1;
  background: linear-gradient(rgba(12, 255, 182, 0.1), rgba(0, 0, 0, 0));
}

@media (max-width: 750px) {
  body {
    grid-template-rows: 5rem 1fr 3rem;
    padding: 1.5rem 0.5rem;
  }

  .btn-container {
    flex-direction: column;
    gap: 1.5rem;
  }

  header {
    align-items: center;
    gap: 0rem;
  }

  header h1 {
    font-size: 2rem;
    text-align: center;
  }

  header h2 {
    font-size: 2rem;
  }
}

/* Overrides - Reemplazo de estilos para componentes nativos */

input,
textarea {
  background-color: rgba(34, 26, 43, 0.5);
  color: var(--aquamarine);
  font-size: 1rem;
  padding: 0.45rem;
  border: none;
  border-bottom: 2px solid rgb(164, 115, 255);
  border-radius: 0.5rem;
}
